body{
    background-color: #f5f5f5;
    overflow: auto;
    min-width: 1240px;
}

//头部
.topbox{
    width: 1920px;
    height: 45px;
    background: #E3E4E5;
}
.top-container{
    width: 1920px;
    height: 131px;
    background: yellowgreen;
}
.top-nav{
    width:1920px;
    height:47px ;
    background: orangered;
}

//

