body{
    background-color: #f5f5f5;
    overflow: auto;
    min-width: 1240px;
}

/* 头部 */
/* 顶部 */
.topbox{
    width: 100%;
    height: 45px;
    background: #E3E4E5;
}
.topbox ul{
    height: 45px;
    padding-left: 13px;
}
.topbox ul>li>a{
    color: #999999;
    font-size: 12px;
    line-height: 45px;

}
.topbox ul>li:nth-child(1){
    margin-right: 25px;
    margin-left: 13px;
}
.topbox ul li:nth-of-type(2){
    margin-right:940px;
}
.topbox ul li:nth-of-type(3) a{
    margin-left: 30px;
}
.topbox ul li:nth-of-type(3) i{
    position: absolute;
    top: 15px;
    right: 409px;
    width: 22px;
    height: 15px;
    background: url(../img/head-icons.png) no-repeat -2px -268px;
    animation: rotateme .3s infinite;
}

@keyframes rotateme{
    0%{transform:rotate(-10deg)}
    20%{transform:rotate(0deg)}
    50%{transform:rotate(10deg)}
    70%{transform:rotate(0deg)}
    to{transform: rotate(-10deg)}
}

.topbox ul>li>a:hover{
    color: #58bc58;
}



/* logo 加搜索区 */
.top-container{
    width: 100%;
    height: 131px;
    background: #FFFFFF;
}
.top-logo h1{
    padding-top: 10px;
    margin-right: 170px;
}

.top-search{
    padding-top: 38px;
}
.top-search .text{
    padding:0 18px;
    height: 42px;
    width: 464px;
    font-size: 14px;
    border:1px solid #58bc58;
}
.top-search .search{
    width: 72px;
    height: 42px;
    background: #23ac38 url(../img/head-icons.png) no-repeat 24px -110px;
    border: 0;
    cursor: pointer; 
}
.top-showCart{
    float: left;
    position: relative;
    border:1px solid #DDDDDD;
    width: 158px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background: #F9F9F9;
    margin-top: 38px;
    font-size: 12px;
    margin-left: 34px;
}
.top-showCart .icon{
    display: inline-block;
    width: 20px;
    height: 15px;
    margin: 0 6px -3px 7px;
    background: url(../img/head-icons.png) 0 0 no-repeat;
}
.top-showCart a{
    color: #000;
}
.top-showCart a span{
    color: #6D6D6D;
}
.top-QRcode{
    /* width: 80px; */
    height: 80px;
    border: 1px solid #DDDDDD;
    margin-left: 18px;
    padding: 7px;
}
.QRcode{ 
    text-align: center;
    line-height: 80px;  
}
.top-QRcode img{
    width: 73px;
    height: 73px;
}
.QRcode-word{
    font-size: 12px;
    padding: 25px;
}


/* 导航 */
.top-nav{
    width: 100%;
    height:47px ;
    background: orangered;
    border-bottom: 1px solid #000;
}


/* 轮播图 */
.mod-banner{
    height:560px;
    width: 100%;
    background: violet;
}

/* 主体 */
/* 热门活动 */
.mod-activity{
    height: 262px;
    background: rebeccapurple;
}
/* 限时购 */
.mod-timeToBuy{
    height: 614px;
    background: burlywood;
}
/* 热门商品 */
.mod-hodGoods{
    height: 2117px;
    background: yellow;
}


/* 底部 */
#mod-foot{
    width: 100%;
    background: #FFFFFF;
}

/* 退货 */
.foot-bannerw{
    height: 116px;
    background: chartreuse;
    border-top: #E8E8E8 solid 1px;
}

/* 帮助中心 */
.foot-containerw{
    height: 310px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    background: rebeccapurple;
}

/* 备案 */
.footer-copyright{
    height: 101px;
    font-size: 12px;
    text-align: center;
    line-height: 101px;
    color: #848484;
}

