@charset "utf-8";//设置编码
body{
    background-color: #f5f5f5;
    overflow: auto;
    min-width: 1240px;
}

/* 头部 */
/* 顶部 */
.topbox{
    width: 100%;
    height: 45px;
    background: #E3E4E5;
}
.topbox ul{
    height: 45px;
    padding-left: 13px;
}
.topbox ul>li>a{
    color: #999999;
    font-size: 12px;
    line-height: 45px;

}
.topbox ul>li:nth-child(1){
    margin-right: 25px;
    margin-left: 13px;
}
.topbox ul li:nth-of-type(2){
    margin-right:940px;
}
.topbox ul li:nth-of-type(3) a{
    margin-left: 30px;
}
.topbox ul li:nth-of-type(3) i{
    position: absolute;
    top: 15px;
    right: 216px;
    width: 22px;
    height: 15px;
    background: url(../img/head-icons.png) no-repeat -2px -268px;
    animation: rotateme .3s infinite;
}

@keyframes rotateme{
    0%{transform:rotate(-10deg)}
    20%{transform:rotate(0deg)}
    50%{transform:rotate(10deg)}
    70%{transform:rotate(0deg)}
    to{transform: rotate(-10deg)}
}

.topbox ul>li>a:hover{
    color: #58bc58;
}



/* logo 加搜索区 */
.top-container{
    width: 100%;
    height: 131px;
    background: #FFFFFF;
}
.top-logo h1{
    padding-top: 10px;
    margin-right: 170px;
}

.top-search{
    padding-top: 38px;
}
.top-search .text{
    padding:0 18px;
    height: 42px;
    width: 464px;
    font-size: 14px;
    border:1px solid #58bc58;
}
.top-search .search{
    width: 72px;
    height: 42px;
    background: #23ac38 url(../img/head-icons.png) no-repeat 24px -110px;
    border: 0;
    cursor: pointer; 
}
.top-showCart{
    float: left;
    position: relative;
    border:1px solid #DDDDDD;
    width: 158px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background: #F9F9F9;
    margin-top: 38px;
    font-size: 12px;
    margin-left: 34px;
}
.top-showCart .icon{
    display: inline-block;
    width: 20px;
    height: 15px;
    margin: 0 6px -3px 7px;
    background: url(../img/head-icons.png) 0 0 no-repeat;
}
.top-showCart a{
    color: #000;
}
.top-showCart a span{
    color: #6D6D6D;
}

.top-QRcode img{
    width: 80px;
    height: 80px;    
    text-align: center;
    line-height: 73px;
    border: 1px solid #DDDDDD;
    margin-left: 18px;
    padding: 7px;
}

.searchKey a{
    color: #6d6d6d;
    font-size: 14px;
    margin-right: 7px;
}
.searchKey a:hover{
    color: #23ac38;
}


/* 导航 */
.top-nav{
    width: 100%;
    height:47px ;
    background: #fff;
    border-bottom: 1px solid #000;
}
.navbar{
    width: 816px;
    margin-left: 66px;
    padding-top: 6px;
}
.navbar li{
    float: left;
    text-align: center;
    line-height: 40px;
}
.navbar .topfrist{
    width: 210px;
    margin-right: 26px;
    background: #363636;
    height: 40px;
}
.navbar .topfrist a::before{
    position: absolute;
    left: 95px;
    top: 192px;
    content: "";
    width: 26px;
    height: 26px;
    background: url(../img/head-icons.png) no-repeat;
    background-position: 3px -300px;
}
.navbar .topfrist a{
    color: #fff;
}
.navbar li{
    margin: 0 12px;
}
.navbar li a{
    color: #000;
    font-size: 16px;
}
.navbar li a:hover{
    color: #23ac38;
}

.navbar .topfrist a:hover{
    color: #fff;
}
.top-nav p{
    margin-left:390px;
    padding-top: 20px;
    font-size: 12px;
    text-decoration: underline;
}
.top-nav p a{    
    color: #6D6D6D;
    &:hover{
        color:#23ac38;
    }
}



/* 轮播图 */
.mod-banner{
    height:560px;
    width: 100%;
    background: violet;
}

/* 主体 */
/* 热门活动 */
.mod-activity{
    height: 262px;
    background: rebeccapurple;
}
/* 限时购 */
.mod-timeToBuy{
    height: 614px;
    background: burlywood;
}
/* 热门商品 */
.mod-hodGoods{
    height: 2117px;
    background: yellow;
}


/* 底部 */
#mod-foot{
    width: 100%;
    background: #FFFFFF;
}


/* 退货 */
.foot-bannerw{
    height: 94px;
    background: #fff;
    border-top: #E8E8E8 solid 1px;
    border-bottom: 1px solid #e8e8ee;
    
}

.foot-banner{
    .banner-item {
        width: 33.3%;
        float: left;
        border-right: 1px solid #e8e8e8;
        height: 60px;
        line-height: 60px;
        box-sizing: border-box;
        font-size: 18px;
        // text-align: center;
        margin-top: 17px;
        padding-left: ;
        a{
            color: #302e33;
            i{
                display: inline-block;
                width: 36px;
                height: 36px;
                line-height: 36px;
                vertical-align: top;
                margin: 10px 10px 0 0;
                border: 2px solid #23ac38;
                border-radius: 20px;
                color: #23ac38;
                text-align: center;
            }
        }
    }
}



/* 帮助中心 */
.foot-containerw{
    height: 249px;
    border-bottom: 1px solid #E8E8E8;
    background: #fff;
    padding: 30px 0;
    box-sizing: border-box;
    dl{
        float: left;
        width: 16%;
        margin-left: 100px;
        dt{
            font-size: 16px;
            color: #302e33;
            line-height: 40px;
        }
        dd{     
            color: #848484;      
            font-size: 12px;
            line-height: 30px;
            a{
                color: #848484;
                &:hover{
                    color: #77be24;
                    text-decoration: underline;
                }
            }
            .call-number{
                font-size: 20px;
                color: #4aba00;
                line-height: 40px;
                vertical-align: top;
            }
        }

    }
}
.foot-containerw .servicebox{
    margin-top: 20px;
    a{
        margin-right: 5px;
        display: inline-block;
        position: relative;
        .wxtips{
            position: absolute;
            left: 50px;
            top: -30px;
        }
    }  
}


/* 备案 */
.footer-copyright{
    height: 101px;
    font-size: 12px;
    text-align: center;
    line-height: 101px;
    color: #848484;
}

